body {    
    background-color: #CECECE;
}
.backgroundImg{
    background-image: url('nyc-in-black-and-white-1218052.jpg');
    background-size: contain; 
    position: absolute;
    top: 100px;
    right: -150px;
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
}

.myTitle {
    width: 100%;
    background-color: #CECECE;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 18px;
   font-family: 'Pontano Sans', sans-serif; 
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 22px;
    
}
h1 {
    margin: auto;
}
h2 {
    font-family: 'Pontano Sans', sans-serif; 
}

p, li {
    font-family: 'Pontano Sans', sans-serif; 
}
.me  {
    font-family: 'Pontano Sans', sans-serif;
    position: fixed;
        left: 35%;
        top: 40%;
}

@media only screen and (min-width: 320px) and (max-width: 920px) {
    body {
      background: #CECECE;
    }
    .backgroundImg{
        display: none;
    }   
    .myTitle{
        position: static;
        /*width: 100%;*/
        border-bottom-style: solid;
        border-width: 1px;
        border-color: black;
        text-align: center;
        font-size: 16px;
    }
    .me {
        position: static;
        left: initial;
        top: initial;
        
    }
    .sections {
        margin-top: 2%;
        
    }
}


